*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(background1.jpg);
    background-size: cover;

}
.main{
    display: flex;
    margin-top: 3vh;
    
    
    
}
.logo{
color: orange;
font-size: 20px;

float: left;
margin-left: 2vw;
margin-top:-1vh ;
}
.menu{
    float:center;
    text-decoration: none;
    margin-left: 10vw;

}
.menu a{
    text-decoration: none;
    color: white;
}
ul{
    list-style: none;
    display: flex;
}
ul li{
    padding-right: 22px; 
}
.search{
    float: right;
    margin-top: -1vh;
}
.search input{
    border-radius: 5px;
    width: 150px;

    
    
}
.search button{
    border-radius: 5px;
    width: 70px;
}

.contenu{
    float: left;
    padding-left: 20px;
    float: flex;
    margin-top: 20vh;
}
.contenu_1{
    float: left;
    color: white;
}
strong{
    color: orange; 
}
.contenu_1 button{
    margin-top: 10px;

}

button{
background-color: orange;
border-style: solid;
border-radius: 10px;
width: 100px;
height: 25px;
}
button a{
    color: black;
    background-color: orange;
    text-decoration: none;
}
button a:hover{
    background-color: white;
}


    
.connexion{
    color: white;
    float: right;
    width: 20vw;
    border: 5px;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    margin-left: 130px;
}
.titre{
    border-radius: 5px;
    color: orange;
    background-color: white;
    border-style: solid;
    border-color: black;
    text-align: center;
    margin: 5px;
}
.connexion div input{
    width: 100%;
    margin: 5px;
    
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    background: transparent;
    border-color: orange;
    color: white;
}
.button{
    border-radius: 10px;
    color: black;
    background-color:orange;
    border-style: solid;
    text-align: center;
    margin: 5px;
    width: 100%; 
}
.acount{
    text-align: center;
    font-size: 10px;
   
}
.acount a{
    text-decoration: none;
}
.acount span{
    color: orange;
    text-decoration: none;
}

.icons{
    margin-top: 2vh;
    
}
.icons a{
    text-decoration: none;
    color: white;
}
.icons a:hover{
    color: orange;
}   



